@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--slate300);
}

img{
    height: 100%;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}


.card-container{
    width: 320px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--white);
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    
}

.qr{
    width: 288px;
    height: 288px;
}


.header-text{
    color: var(--slate900);
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    padding: 24px 16px 16px;
    text-align: center;
}

.p-text{
    color: var(--slate500);
    font-size: 15px;
    line-height: 140%;
    font-weight: 300;
    padding: 0 16px 16px;
    letter-spacing: 0.2px;
    text-align: center;
}